@import url(icon.css);
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
}

:root{
    font-size: 13px;
}

body{
    margin: 0;
    font-family: 'Be Vietnam', sans-serif;
}

/* UMUMIY STILLAR */
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
}

.btn{
    padding: 12px 32px;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.46rem;
    color: #FCF6F5;
    background: #F3603C;
border-radius: 22px;
transition: opacity 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
cursor: pointer;
}

.btn:hover{
    box-shadow: 0px 15px 15px -10px #FF9F8E;
    opacity: 0.8;
}

/* MAIN HEADER */
.main-header{
    width: 100%;
    background: white;
    top: 0;
    padding: 56px 0 60px 0;
}

.main-header .row {
    justify-content: space-between;
    align-items: center;
}

.main-nav-link{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.46rem;
    color: #242D52;
    margin: 0 16px;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    z-index: 2;
}

.main-nav-link:hover{
    opacity: 0.5;
}

.main-header .btn{
    position: relative;
    z-index: 2;
}

/* BETTER-PRODUCTS */
.better-products{
    padding: 60px 0 66px 0;
    position: relative;
}

.better-products::after {
    content: '';
    position: absolute;
    right: 0;
    top: -268px;
    width: 670px;
    height: 970px;
    background-image: url('../img/headbg.png');
    background-repeat: no-repeat;
    background-position: center;
}


.better-products .column-2{
    width: 50%;
}

.about{
    max-width: 445px;
}

.images img{
    position: relative;
    z-index: 2;
}

.main-title{
    font-size: 4.30rem;
    font-weight: 700;
    line-height: 4.92rem;
    letter-spacing: -1px;
color: #242D52;
}

.page-text{
    font-size: 1.23rem;
    font-weight: 400;
    line-height: 2rem;
    color: #242D52;
    opacity: 0.5;
    margin-top: 16px;
}

.better-products .btn{
    margin-top: 40px;
}

/* MANAGE */
.Manage{
    padding: 66px 0 73px 0;
    position: relative;
}

.Manage::after{
    content: '';
    position: absolute;
    top: 290px;
    width: 436px;
    height: 995px;
    background-image: url(../img/Rectangle\ Copy\ 12.png);
    background-repeat: no-repeat;
    background-position: left;
}

.different{
    max-width: 445px;
    margin-right: 125px;
}

.progress{
    max-width: 540px;
}

.title-manage{
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.38rem;
    color: #242D52;
    letter-spacing: -0.714286px;
    margin-top: 5px;
}

.track{
    font-size: 1.23rem;
    font-weight: 700;
    line-height: 1.76rem;
    color: #242D52;
    letter-spacing: -0.285714px;
    counter-increment: list1-counter;
}

.progress .track:not(:first-child){
    margin-top: 46px;
}

.track::before{
    content: counter(list1-counter, decimal-leading-zero);
    display: inline-block;
    width: 67px;
    height: 39px;
    background: #F3603C;
border-radius: 39px;
    margin-right: 28px;
    text-align: center;
    font-size: 1.23rem;
    font-weight: 700;
    line-height: 2.76rem;
    color: white;
}

.progress .page-text{
    margin: 19px 0 0 95px;
}

/* SAID */
.said{
    padding: 73px 0 180px 0;
    text-align: center;
}

.said .title-manage{
    margin-bottom: 100px;
}

.said .container{
    max-width: 100%;
    overflow-x: hidden;
    padding-top: 40px;
}

.said .row{
    justify-content: center;
}

.column-3{
    width: 50%;
    padding: 0 15px;
}

.biography{
    background: #FAFAFA;
    position: relative;
    width: 540px;
    padding: 60px 40px 40px 40px;
}

.biography img{
    position: absolute;
    top: 0;
    left: 234px;
    transform: translateY(-50%);
}

.said .btn{
    margin-top: 48px;
}

/* SIMPLIFY */
.simplify{
    background-image: url(../img/Rectangle\ Copy\ 19.jpg);
    height: 220px;
    padding: 62px 0;
}

.simplify .row{
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.white{
    color: #FFFFFF;
}

.simplify .btn{
    background: #FFFFFF;
    color: #F3603C;
}

.simplify .btn:hover{
    box-shadow: 0px 15px 15px -10px #DB5943;
    opacity: 0.9;
}

/* MAIN-FOOTER */
.main-footer{
    background: #1D1E25;
    padding: 62px 0;
}

.main-footer .row{
    justify-content: space-between;
}

.icon-footer{
    margin-top: 83px;
}

.icon{
    font-size: 1.53rem;
    color: white;
    transition: color 0.5s ease-in-out;
}

.icon:hover{
    color: #F3603C;
}

li{
    list-style-type: none;
    margin-bottom: 13px;
}

.nav-footer-link{
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.69rem;
    color: #FFFFFF;
    letter-spacing: -0.234375px;
    transition: color 0.5s ease-in-out;
}

.nav-footer-link:hover{
    color: #F3603C;
}

.input-footer{
    padding: 11px 41px 14px 16px;
    border-radius: 22px;
    border: none;
    margin-right: 8px;
}

.valid{
    visibility: hidden;
    display: block;
    font-size: 0.76rem;
    font-weight: 400;
    line-height: 1.15rem;
    color: #F33C3C;
    letter-spacing: -0.0769231px;
    margin: 4px 0 0 10px;
}

.input-footer:focus{
    outline: none;
}

.input-footer:focus ~ .valid{
    visibility: visible;
}

.btn-footer{
    padding: 13px 24px;
    border: none;
    background: #F3603C;
border-radius: 22px;
cursor: pointer;
font-size: 1rem;
font-weight: 700;
line-height: 1.46rem;
color: #FCF6F5;
transition: background-color 0.5s ease-in-out;
}

.btn-footer:hover{
    background: #F98F75;
}

.copyright{
    font-size: 1rem;
font-weight: 400;
line-height: 1.46rem;
letter-spacing: -0.203125px;
color: #FFFFFF;
text-align: right;
margin-top: 60px;
}